<div class="custom-select" data-component="ProductSelect">
  <div class="select-styled product-select">{{ 'products.product.size' | t }}</div>
  <ul class="select-options">
    {% for variant in product.variants %}
        <li>{{ variant.title }}</li>
    {% endfor %}
  </ul>
  <select id="originalSelect" class="hidden" data-option-main>
      {% for variant in product.variants %}
          <option value="{{ variant.id }}">{{ variant.title }}</option>
      {% endfor %}
  </select>
</div>
