@media (min-width: 1280px) {
  .hockey-gps-tracker .lg\:pt-30{
    padding-top: 3rem;
  }
  .hockey-gps-tracker .lg\:pb-30{
    padding-bottom: 3rem;
  }
}


@media (min-width: 940px) {
  .hockey-gps-tracker .md\:pt-20{
    padding-top: 3rem;
  }
  .hockey-gps-tracker .md\:pb-20{
    padding-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .hockey-gps-tracker .sm\:pt-20{
    padding-top: 3rem;
  }
}
