.Product {
  .max-w-screen-lg {
    max-width: 1350px;
  }
  &__Gallery {
    @apply md:w-1/2 lg:w-[48%] lg:pl-7.5;

    .GalleryMain {
      @apply grow w-full overflow-hidden flex items-center justify-center;
      @apply -ml-3.5 w-[calc(100%+28px)] xs:-ml-7.5 xs:w-[calc(100%+60px)] md:ml-0 md:w-full;

      &__Wrapper {
        @apply w-full flex;
      }

      &__Slide {
        @apply w-full shrink-0 overflow-hidden relative md:rounded-2xl;
      }
    }

    .GalleryThumbs {
      @apply relative flex items-center overflow-hidden mt-11 md:mt-6;
      @apply w-[calc(100%+28px)] -ml-3.5 px-3.5 xs:w-[calc(100%+40px)] xs:-ml-5 xs:px-5;

      &__Wrapper {
        @apply flex w-full;
      }

      &__Slide {
        @apply shrink-0 overflow-hidden cursor-pointer transition-opacity duration-100 ease-out hover:opacity-75 md:rounded-2xl;
      }

      &__Button {
        @apply absolute text-24 font-medium p-0 border-0 disabled:hidden;

        &--previous {
          @apply left-0;
        }

        &--next {
          @apply right-0;
        }
      }
    }
  }

  &__Info {
    @apply mt-12.5 md:mt-0 md:w-1/2 md:pl-10 lg:w-[52%] lg:pl-17;
  }

  &__Description {
    @apply font-medium !leading-normal md:mt-4;
  }
  .selling-plan-group {
    margin: 13px 11px 0;
    padding: 5px 0;
  }
  .sellingId{
    max-width: 300px;
  }
  .product-select{
    border-radius: 8px;
    border: 1px solid #012130;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 24px;
  }
  .product-select:focus{
    box-shadow: none;
  }
  .btnBorder{
    border-radius: 8px;
    border: 1px solid var(--phbrandcoloursph-midnight, #012130);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    background: transparent;
    color: #000;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 17px 24px;
    margin: 0 !important;
    font-size: 16px;
  }
  [data-submit-bundle]{
    height: auto !important;
    font-size: 16px;
  }
  @media screen and (max-width: 940px) {
    .Product__Info .Button.buy_gift{
      margin-bottom: 27px;
    }
  }
  .custom-select {
    position:relative;
    display: inline-block;
  }
  .select-styled {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #012130;
    background-color: #fff;
    cursor: pointer;
  }

  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200%;
    z-index: 1;
  }

  .select-options li {
    padding: 8px 20px;
    cursor: pointer;
    webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: transparent;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .select-options li:hover {
    text-decoration-color: #00A0D1;
  }
}

.Product__Gallery .logo-wrapper {
  display: flex;
  gap: 6px;
  margin-top: 25px;
  /* align-items: baseline; */
  justify-content: center;
  width: 100%;
}
.Product__Gallery .logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  height: 100%;
}
.Product__Gallery .logo-container span {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  max-width: 100px;
  min-height: 24px;
}
.Product__Gallery .logo img {
  width: 100%;
  display: flex;
 }
.Product__Gallery .logo-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
  gap: 22px;
}
.Product__Gallery .logo-container::after {
  content: "";
  position: absolute;
  right: -3px;
  top: 0;
  height: 70px;
  width: 1px;
  background: #000;
}
.Product__Gallery .logo-container:last-child::after {
  content: none;
}
@media (max-width:900px) {
  .trustpilot-review {
    width: 100% !important;
    margin: 35px;
  }
  .Product__Gallery .logo-container span {
    font-size: 7px;
  }
  .Product__Gallery .logo svg,
  .Product__Gallery .logo-container span {
    max-width: 80px;
  }
  .Product__Gallery .logo-wrapper {
    gap: 5px !important;
    margin-top: 36px;
  }
  .Product__Gallery .logo-container::after {
    height: 55px;
    right: -2.5px;
  }
  .buttons-container {
    flex-direction: column;
    gap: 14px !important;
  }
  .book-btn-container {
    margin-bottom: 36px !important;
  }
  .buttons-container a {
    height: 60px !important;
    width: 100% !important;
  }
}

.Button--contact {
  color: #fff !important;
}

.buttons-container {
  display: flex;
  gap: 38px;
}

.buttons-container a {
  text-align: center;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
  letter-spacing: 0.36px;
  padding: 0 40px !important;
  box-shadow: none !important;
  cursor: pointer;
  justify-content: center;
}
.buttons-container .Button--download {
  color: #012130 !important;
  border-color: #012130 !important;
}
.book-btn-container {
  margin-bottom: 29px;
}
.book-btn-container a {
  display: flex;
  align-items: center;
  gap: 14px;
}
.trustpilot-review {
  display: flex;
  gap: 9px;
  margin: 30px 0;
  width: fit-content;
}
