.Hero {
  @apply relative text-white overflow-hidden;
  background: radial-gradient(
    62.92% 62.92% at 50% 50%,
    #085a7f 0%,
    #012130 75.58%
  );

  &.style {
    &--black {
      background: #000;
    }
  }

  &__Container {
    @apply relative flex flex-col;

    @media (--sm) {
      min-height: 540px;
    }
  }
}
.hero__container-btn{
  max-width: max-content;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: 38px;
  padding: 20px 24px;
  height: auto;
  
}

.Hero-redesign .Hero__Container-image{
  max-width: 47%;
}
.Hero-redesign .Hero__Container-image img{
  max-width: 100%;
}
.Hero-redesign .Hero__Container{
  align-items: start;
  flex-direction: row;
}
.Hero-redesign .hero-image-background img{
  max-width: 100%;
  object-fit: contain;
}
.hero-image-background{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-image-background img{
  object-fit: cover;
}
.hero-container-title-block{
  padding-top: 5vw;
  padding-bottom: 10vw;
  display: flex;
  justify-content: space-between;
}
.hero-container-video-block{
  width: 50%;
  min-height: calc(100% - 100px);
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-container-video-block button{
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  bottom: 0;
}
.hero-container-title-block .h1{
  margin-bottom: 22px;
}
.hero-container-title-block-flex{
  display: flex;
  gap: 10px;
  height: 100%;
}
.hero-container-title img{
  max-width: 450px;
  margin-bottom: 15px;
  width: 100%;
}
@media (max-width: 939px) {
  .Hero-redesign{
    padding-bottom: 70px;
  }
  .Hero-redesign .Hero__Container{
    flex-direction: column;
    align-items: center;
  }
  .Hero-redesign .Button{
    max-width: max-content;
  }
  .Hero-redesign .Hero__Container-image{
    max-width: 100%;
  }
  .hero-container-video-block, .hero-container-video-block button{
    width: 100%;
    height: 60%;
  }
  .Hero-video .hero__container-btn .Button--primary{
    display: none;
  }
  .hero-container-title-block{
    padding: 35px 40px 59px;
    height: 100%;
  }
  .hero-container-title{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .hero-image-background{
    height: 123vw;
  }
  .hero-image-background{
    background-size: contain;
    background-position: bottom;
  }
  .hero-container-title-block .h1{
    margin-bottom: 32px;
  }
  .hero-image-background-transparent{
    height: 130vw;
    margin-top: 60px;
  }
  .hero-image-background-transparent .hero-container-title-block .h1{
    margin-bottom: 20px;
  }
  .hero-image-background-transparent .hero-container-title-block{
    padding: 35px 30px 30px;
  }
}
@media (max-width: 767px) {
  [data-template="index"] .Hero .max-w-screen-lg{
    padding: 0 35px;
  }
  [data-template="index"] .Hero .max-w-screen-lg .h1{
    font-weight: 400;
  }
}
.why-use-a-gps-player-vest-performance .hero-image-background, .why-use-a-gps-player-vest .hero-image-background{
  margin-top: 0;
}