{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% liquid
  assign className = 'Table'

  if section.settings.top_padding
    assign className = className | append: ' pt-20 sm:pt-15'
  endif
%}

<section class="{{ className }}">
  <div id="shopify-leaderboard"  class="max-w-screen-lg mx-auto pb-5"></div>
  <link href="{{ 'rp7-leaderboard-react.css' | asset_url }}" rel="stylesheet">
  <script src="{{ 'rp7-leaderboard-react.js' | asset_url }}" async></script>
</section>

{% schema %}
{
  "name": "RP7-Leaderboard-React",
  "settings": [
    {
      "type": "checkbox",
      "id": "top_padding",
      "label": "Add top spacing",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "RP7 Leaderboard React"
    }
  ]
}
{% endschema %}
